.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.square{
    border: 1px solid black; 
    width: 30px;
    height: 30px;
    transition: background-color 1s; 
}

.square:hover{
    background-color: aqua;
    transition: 0s;
}